body {
    font-family: Arial, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

.center-text {
    text-align: center;
}

.header {
    color: white;
    font-size: 17px;
    padding: 0px;
}

.header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 48px;
}

.link {
    color: aqua;
    text-decoration: underline;
}

.nav {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.nav-list {
    list-style-type: disc;
    display: inline-block;
    text-align: left;
    margin-top: 0px;
    padding-left: 20px;
}

.hr-line {
    border: 0;
    height: 2px;
    background-color: orange;
    margin-top: 7px;
    margin-bottom: 7px;
}

.pink-section {
    color: black;
    font-size: 25px;
    background-color:antiquewhite;
    border: 10px solid magenta;
    border-radius: 2px;
    padding: 5px;
}

.section-title {
    text-align: left;
    margin-left: 0;
    margin-top: 5px;
    padding-left:10px;
}

p {
    padding-left: 5px;
}

.blue-section {
    color: black;
    font-size: 25px;
    background-color:antiquewhite;
    border: 10px solid cyan;
    border-radius: 2px;
    padding: 5px;
}

.orange-section {
    color: black;
    font-size: 25px;
    background-color:antiquewhite;
    border: 10px solid orange;
    border-radius: 2px;
    padding: 5px;
}

footer {
    text-align: center;
    width: 100%;
    padding: 0;
    color: white;
}

img {
    padding-left: 5px;
}

.marquee {
    font-size: 14px;
    padding-top: 5px;
}

.small-text {
    font-size: 10px;
    vertical-align: middle;
}

code {
    font-family: monospace;
    font-size: 20px;
}